
#header {
  height: 300px;
  background-image: url("./Tree.jpg");
  background-size: cover;
  background-position: center;
  bottom-padding: 35%;
  z-index: 1;
  max-width: 100%;
  margin: auto;
}

div.div1.div2 {
  display: inline-block;
}

#main {
 max-width: 500px;
 margin: auto;
 }

#home{

}

.div1 {
  padding-right: 40px;
  position: relative;
  border color: blue;
  position: absolute;
  width: 200px;
  background-color: #B9D7D9;
  margin: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.div2 {
  overflow: auto;
  position: relative;
  margin: auto;
  max-width: auto;
  margin-left: 200px;
  margin-right: 50px;
  padding: 50px;
  border-style: dashed;
  border-width: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
}

img {
  vertical-align: text-top;
  width: 20%;

}

#home {
border-radius: 100%;
vertical-align: text-top;
}

#footer {
  border-radius: 100%;
  max-width: 50px;
  float: left;
}

.div3 {
  overflow: auto;
  position: relative;
  height: 75px;
  background-color: #668284;
  clear: both;
  font-family: Garamond;
  font-size: 20px;
  text-align: center;
  color: #ffffff;

}

.div4{

}


